<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<html lang="en" xmlns:th="http://www.thymeleaf.org" >
    <head>
        <meta charset="UTF-8"/>
        <title>Pet Clinic Index</title>
    </head>
    <body>
        <h2>Welcome to this Simple Json api</h2>
        <table>
            <th>Id</th>
            <th>Author</th>
            <th>Author Id</th>
            <th>likes</th>
            <th>Popularity</th>
            <th>reads</th>
            <th>tags</th>
            <tr th:each="post: ${posts}">
                <td th:text="${post.id}" />
                <td th:text="${post.author}" />
                <td th:text="${post.authorId}" />
                <td th:text="${post.likes}" />
                <td th:text="${post.popularity}" />
                <td th:text="${post.reads}" />
                <td th:text="${post.getTag()}" />

            </tr>

        </table>

    </body>
</html>
